{% extends "index.html" %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/logo.png')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block main %}
    <div style="margin-left: 5em;">

    When online users search for information regarding health controversial issues, the presence of spam, rumors and fake content is unpreventable, which in turn reduces the value of information contained in the tweets.
   Checking the validity of information available in Twitter is challenging, especially for controversial health issues.
   TweetChecker is a real time Twitter streaming analytical pipeline from scratch using amazon AWS.
   The tool for evaluating controversial health events in real-time can be used effectively by security analysts, organizations, and professional agencies that want to monitor content of its interest on Twitter.

    </div>
    <hr>
    {% endblock %}
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/clean-blog.min.js"></script>

  </body>

</html>
